<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Word wrap</title>
    <link rel="stylesheet" href="styles.css">
</head>
<body>
<div id="container">
    <h1>Word wrap text</h1>
    <h3>Configuration</h3>
    <label for="column-width">Column width:</label>
    <input type="text" id="column-width"/>
    <label for="editor">Editor:</label>
    <textarea id="editor" cols="50" rows="15"></textarea>
    <br />
    <button id="do-word-wrap">Apply word wrap</button>
    <hr>
    <label for="result">Wrapped result:</label>
    <textarea id="result" cols="50" rows="15" readonly style="white-space: break-spaces"></textarea>
</div>
</body>

<script type="module" src="../build/src/init.js">
</script>

</html>