<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Vanilla TS app</title>
</head>
<body>
    <h1>Word wrap text</h1>
    <h2>Configuration</h2>
    <label>Column width:</label>
    <input type="text" id="column-width"/>
    <button id="save-config">Save configuration</button>
    <hr>
    <h2>Editor:</h2>
    <textarea id="editor">

    </textarea>
    <button id="do-word-wrap">Apply word wrap</button>
</body>

<script type="module" src="../build/src/init.js">
</script>

</html>